<?xml version="1.0" ?>
<!--
/**
 *
 * @category   Diconium
 * @package    Diconium_DrPay
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="drpay" frontName="drpay">
			<module name="Diconium_DrPay"/>
		</route>
	</router>
</config>
